@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Poppins:ital,wght@0,300;1,200&family=Tangerine:wght@700&display=swap');



* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin: 5vh 0 0 5vw;
  font-size: 4rem;
  color: #0fbaaa;
}


hr {
  width: 50vw;
  margin: 0.5vh 5vw;
  background: #0fbaaa;
  height: 1px;
  border-radius: 10px;
  border: none;
}

.ColunaTexto {
  width: 60vw;
}

p {
  font-size: 1.2rem;
  margin: 3.5vw 5vw;
}

.ColunaTexto h4 {
  font-size: 1.5rem;
  margin: 2vh 5vw 0 5vw;
}

.FotoCircular {
  width: 30vw;
  margin: 5vw;
  height: 30vw;
  border: 9px dashed #0fbaaa;
  border-radius: 50%;
}

@media(max-width:768px) {
  h3 {
    font-size: 1.8O neuropsicopedagogo atua em pacientes com ou sem diagnóstico. O motivo se dá porque assim como precisamos exercitar o nosso corpo, é preciso também exercitarmos o nosso cérebro.
Em um primeiro momento, é feita uma
 avaliação,  para saber se o desenvolvimento cognitivo está de acordo com a idade. Após esse primeiro momento, encaminha o paciente para o tratamento mais adequado, que pode envolver outros profissionais, como neurologistas, psicólogos, fonoaudiólogos, entre outros. No caso do encaminhamento incluir sessões neuropsicopedagógicas, é feito uma estimulação através de jogos e atividades na parte do cérebro que encontra-se “adormecida”.rem;
  }

  .ColunaTexto {
    width: 100vw;
  }

  .FotoCircular {
    width: 50vw;
    height: 50vw;
  }
}
