@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Poppins:ital,wght@0,300;1,200&family=Tangerine:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin: 5vh 0 0 5vw;
  font-size: 4rem;
  color: #0fbaaa;
}


.Logo{
  height: 7vw;
  margin: 1vh 4vw;
}


hr {
  width: 50vw;
  margin: 0.5vh 0 3vh 5vw;
  background: #0fbaaa;
  height: 1px;
  border-radius: 10px;
  border: none;
}

.ColunaTexto {
  width: 60vw;
}

p {
  font-size: 1.2rem;
  margin: 3.5vw 5vw;
}

.ColunaTexto h4 {
  font-size: 1.5rem;
  margin: 2vh 5vw 0 5vw;
}

.FotoCircular {
  width: 30vw;
  margin: 5vw;
  height: 30vw;
  border: 9px dashed #0fbaaa;
  border-radius: 50%;
}

footer {
  padding: 0 0 5vh 0;
}

.Social {
  margin: 3vh 0 0 0;
}

.Social i {
  font-size: 6rem;
  margin: 0 5vw;
  color: #000;
}

.Social a {
  display: flex;
  color: #000;
  flex-direction: row;
  align-items: center;
  font-size: 2.5rem;
}

@media(max-width:768px) {
  h3 {
    font-size: 1.8rem
  }

  .Social i {
    font-size: 2.5rem;
  }

  .Social a {
    font-size: 1rem;
  }

  .ColunaTexto {
    width: 100vw;
  }

  .FotoCircular {
    width: 50vw;
    height: 50vw;
  }
  
  .Logo{
    transition: filter 150ms linear;
    z-index: 1;
    position: absolute;
    margin:5vw 8vw;
    height:13vw;
  }

}
