@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,300;1,200&display=swap');


.QuemSouEu {
  width: 100vw;
  display: flex;
  align-items: center;
}

.Historia {
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: auto;
  flex-direction: row-reverse;
  background: #fff;
  padding: 0 0 5vh 0;
  z-index: 1;
}

.TrabalhoDiv {
  display: flex;

}

.Unidades {
  background: #0fbaaa;
  width:100vw;
}

.Unidades h3 {
  color: #fff;
  font-size: 2rem;
  padding: 5vw;
  margin: 0;
}

.Unidades h2 {
  font-size: 1.5rem;
  padding:5vw;
  color: #fff;
}

.ColunaUnidade {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  border-right: 2px solid #fff;
}

.ColunaUnidade p {
  color: #fff;
}

.ColunasUnidades {
  display: flex;
}


@media (max-width:728px) {
  .QuemSouEu {
    flex-direction: column;
  }

  .Historia {
    flex-direction: column;
  }

  .TrabalhoDiv {
    flex-direction: column;
  }

  .ColunasUnidades {
    flex-direction: column;
  }

  .ColunaUnidade {
    width: 100vw;
    border: none;
  }
}
