@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

.Top {
  position:relative;
  width: 100vw;
  height:80vh;
}

.TopMid{
  width:100vw;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Teme {
  font-family: 'Amita', cursive;
  font-size: 5rem;
  color: #fff;
}

.Name{
  font-family: 'Amita', cursive;
  font-weight: 200;
  font-size: 2.5rem;
  color: #fff;
}

.CBtn {
  position:relative;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  font-size: 4vw;
  color:#aa20aa;
  border:none;
  border-radius:500px;
  padding:1.5vh 4vw 1.5vh 16vw;
  display:flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.TopBg{
  width:100vw;
  height:70vh;
  position: absolute;
  top:0;
  z-index:-1;
  clip-path: circle(150vh at 50% -80vh)
}


.fa.fa-phone{
  position:absolute;
  left:0;
  font-size:6vw;
  background: linear-gradient(45deg, #aa20aa, #0fbaaa);
  color:#fff;
  padding:1.5vh 1.8vh;
  border-radius: 50%;
}

@media(max-width: 768px){
  .Teme{
    font-size: 2rem
  }
  .Name{
    font-size:1rem;
  }
}



